body{
    background-color: #7077A1;
}
.ikaw{
    list-style: none;
    text-align: center;
    border: 1px solid #000000;
    background-color: wheat;
}
a{
    color:black;
}

figure{
    text-align: center;
}
img{
    border: 1px solid ;
    padding: 5px;
    border-radius: 5px;
}

.me{
    border: 1px solid black;
}
.favorite{
    border: 1px double green;
}

ul.anime{
    list-style-type: none;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    
}
.instrument{
    color: bisque;
    text-align: center;
    list-style: none;
    font-family: cursive;

}
.color{
    list-style: none;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    font-family: 'Trebuchet MS'
}
.anime{
    list-style: none;
    color: white;
    border: 1px ;
}
.friends{
    border: 2px dotted;
    padding: 1px;
    border-radius: 5px;
    background-color: cornflowerblue;
}
.bff
{
    list-style: none;
    text-align: center;
    font-weight: bold;
    color: cornsilk;
}
h3{
    text-align: center;
    color: #F6B17A;
}

.one, .two, .three
{ /* the h3 sa my lifestory*/
    color: black;
}

